div#header{
	margin: auto;
    width: 50%;
	text-align:center;
	font-size: 50px;
}
div#all{
	margin: auto;
	width: 840px;
	border-radius: 15px 15px 15px 15px;
	-moz-border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px 15px 15px 15px;
	border: 3px solid #443300;
}
div#terrariumContainer{
	float:left;
}
div#options{
	margin: auto;
    width: 50%;
	text-align:center;
}
div#settings{
	float:right;
	width:210px;
}
div#cleared {
  clear: both;
}

.info{
	width:30%;
}
canvas#terrarium {
	margin-left: auto;
    margin-right: auto;
    display: block;
	
	border-radius: 15px 15px 15px 15px;
	-moz-border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px 15px 15px 15px;
	border: 3px solid #000000;
}