div#all{
	margin-right: 200px;
}
div#main{
	float:left;
	width:60%;
}
div#settings{
	float:right;
	width:150px;
}
div#cleared {
  clear: both;
}
canvas#terrarium {
	margin-left: auto;
    margin-right: auto;
    display: block;
	
	border-radius: 15px 15px 15px 15px;
	-moz-border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px 15px 15px 15px;
	border: 3px solid #000000;
}