div#header{
	margin: auto;
	padding-top: 10px;
    width: 50%;
	text-align:center;
	font-size: 50px;
}
div#all{
	position: relative;
	margin: auto;
	width: 950px;
}
div#tutorial{
	margin: 10px;
    width: 100%;
	text-align:center;
	visibility: hidden;
}
div#terrariumContainer{
	margin:auto;
	width:600px;
	height:380px;
	float:left;
}
div#editorButtons{
	visibility:hidden;
	text-align:center;
	width:100%;
}
div#graphs{
	margin: auto;
	width:600px;
	height:350px;
}
div#customAntContainer{
	margin: 10px;
	height:90%;
}
div#NoUI{
	text-align: center;
	vertical-align: middle;
	line-height: 350px;       /* the same as your div height*/
}
pre#editor {
	height:95%;
}
div#floatingContainer{
	position: absolute;
	display: none;
	z-index: 10; /* has to be above editor */
	top: 4%;
	left: -2.5%;
	width: 105%; /*terrariumContainer + settings*/
	height: 105%;
	background-color: #eeeeee;
	box-shadow: 0px 0px 7px 3px #888888;
}
div#options{
	margin: auto;
    width: 50%;
	text-align:center;
}
div#settings{
    border-left: thick solid #cceecc;
	margin:30px;
	padding: 15px;
	float:left;
	height:100%;
}
div#cleared {
    clear: both;
}
#message {
	position:absolute;
	height: 100%;
	width: 100%;
	border: none;
}
#message_close{
	position: relative;
	z-index: 11; /* has to be above editor */
	float:right;
	margin: 20px;
}

div#message_bottom {
	margin:10px;
	width:100%;
}
div#message_content {
	width:100%;
	height:70%;
	margin:auto;
}
h2#message_header {
	margin-top:0;
}
p {
	text-align: left;
}
input#closeButton{
	float: right;
}
canvas#terrarium {
	margin-left: auto;
    margin-right: auto;
	width:600px;
	height:350px;
	
	border-radius: 15px 15px 15px 15px;
	-moz-border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px 15px 15px 15px;
	border: 3px solid #000000;
}

img.flipped {
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	transform: scale(-1, 1);
	filter: FlipH;	
}
